:root {
	--sidebar-left-width: 15.625rem;
	--sidebar-right-width: 275px;
	--sidebar-left-bg: #111;
	--sidebar-right-bg: black;
    --sidebars-container-bg: black;
    --overlay-open-bg: white;
}

.inner-wrap, .left-sidebar, .off-canvas-wrap, .right-sidebar {
	-webkit-backface-visibility: initial;
}

.inner-wrap {
	position: relative;
	width: 100%;
	transition: transform 400ms ease;
}

.inner-wrap:after, .inner-wrap:before {
	content: " ";
	display: table;
}

.open-right > .inner-wrap {
	transform: translate(-var(--sidebar-right-width), 0);
}

.open-left > .inner-wrap {
	transform: translate(var(--sidebar-left-width), 0);
}

.overflow-sidebar.open-right > .inner-wrap, 
.overflow-sidebar.open-left > .inner-wrap {
    overflow: hidden;
    height: 100vh;
	transform: translate(0, 0);
}

.left-sidebar, .right-sidebar {
	max-height: 1080px;
}

.left-sidebar {
	width: var(--sidebar-left-width);
	top: 0;
	bottom: 0;
	position: absolute;
	overflow-y: auto;
	background: var(--sidebar-left-bg);
	z-index: 1001;
	box-sizing: content-box;
	transition: transform 500ms ease 0s;
	-webkit-overflow-scrolling: touch;
	transform: translate(-100.5%, 0);
	left: 0;
}

.left-sidebar {
	-moz-box-sizing: content-box;
}

.left-sidebar, .right-sidebar {
	max-height: 1080px;
}

.right-sidebar {
	width: var(--sidebar-right-width);
	top: 0;
	bottom: 0;
	position: absolute;
	overflow-y: auto;
	background: var(--sidebar-right-bg);
	z-index: 1001;
	box-sizing: content-box;
	transition: transform 500ms ease 0s;
	-webkit-overflow-scrolling: touch;
	transform: translate(100.5%, 0);
	right: 0;
}

.right-sidebar {
	-moz-box-sizing: content-box;
}

.overflow-sidebar.open-left > .inner-wrap > .left-sidebar{
	transform: translate3d(0px, 0, 0);
}

.overflow-sidebar.open-right > .inner-wrap > .right-sidebar {
	transform: translate3d(0px, 0, 0);
}

.overflow-sidebar.open-left > .inner-wrap > .exit-off-canvas {
	transform: translate3d(var(--sidebar-left-width), 0, 0);
	transition: transform 400ms ease;
}

.overflow-sidebar.open-right > .inner-wrap > .exit-off-canvas {
	transform: translate3d(-var(--sidebar-right-width), 0, 0);
	transition: transform 400ms ease;
}


.off-canvas-wrap {
	position: relative;
	width: 100%;
	overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
	background: var(--sidebars-container-bg);
    display: none;
}
.off-canvas-wrap.loaded {
    display: block;
}

.off-canvas-wrap.open-right, .off-canvas-wrap.open-left {
	min-height: 100%;
	-webkit-overflow-scrolling: touch;
}

.inner-wrap {
	/*height: 100vh;*/
}

.open-left .exit-off-canvas,
.open-right .exit-off-canvas {
    -webkit-backface-visibility: hidden;
    transition: background 300ms ease;
    cursor: pointer;
    box-shadow: -4px 0 4px rgba(0,0,0,.5),4px 0 4px rgba(0,0,0,.5);
    display: block;
    position: absolute;
    background: color(var(--overlay-open-bg) alpha(20%));
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1002;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

@media only screen and (min-width: 40.063em) {
    .open-left .exit-off-canvas:hover,
	.open-right .exit-off-canvas:hover {
        background:color(var(--overlay-open-bg) alpha(5%));
    }
}

.offcanvas-overlap .left-sidebar,.offcanvas-overlap .right-sidebar {
    transform: none;
    z-index: 1003
}

/* List on the Off canvas */
ul.off-canvas-list {
    list-style-type: none;
    padding: 0;
    margin: 0
}
ul.off-canvas-list li.separator {
    border-bottom: 1px solid #545353;
}
ul.off-canvas-list li label {
    display: block;
    padding: .3rem .9375rem;
    color: #999;
    text-transform: uppercase;
    font-weight: 700;
    background: #444;
    border-bottom: 0;
    margin: 0
}

ul.off-canvas-list li a {
    display: block;
    padding: .6666666667rem;
    color: rgba(255,255,255,.7);
    border-bottom: 0;
    transition: background 300ms ease;
    position: relative;
}

ul.off-canvas-list li a:hover {
    background: #242424
}

/* 
 * Maybe these styles should be moved to the file where tabbar container would be styled.
 */
.view-container {
	min-height: calc(100vh - 45px);
    background-color: black;
}

.view-container.fullscreen {
	height: 100vh;
}